extends layout

block content
    h1 Fried Chicken Spots Bro
    p Welcome to the fried chicken spot finder bro

    // Wrapper
    #wrapper

        // FRIED CHICKEN LIST
        h2 Fried Chicken Spots
        #friedChickenList
            table
                thead
                    th Restaurant Name
                    th Address
                    th Website
                    th Edit
                    th Delete?
                tbody
        // /FRIED CHICKEN LIST

        // FRIED CHICKEN SPOT INFO
        #friedChickenInfo
            h2 Chicken Spot Info
            p
                strong Restaurant Name:
                |  <span id='restaurantName'></span>
                br
                strong Address:
                |  <span id='address'></span>
                br
                strong Website:
                |  <span id='website'></span>
        // /FRIED CHICKEN SPOT INFO


        // ADD FRIED CHICKEN SPOT
        h2#addSpotH2 Add Fried Chicken Spot
        #addSpot
            fieldset
                input#inputRestaurantName(type='text', placeholder='Restaurant Name')
                input#inputAddress(type='text', placeholder='Address')
                br
                input#inputWebsite(type='text', placeholder='Website')
                br
                button#btnAddChickenSpot ADD FRIED CHICKEN SPOT
        // /ADD FRIED CHICKEN SPOT

        // EDIT FRIED CHICKEN SPOT
        h2#editSpotH2.hide Edit Fried Chicken Spot
        #editFriedChicken.hide
            fieldset
                input#inputRestaurantName(type='text', placeholder='Restaurant Name')
                input#inputAddress(type='text', placeholder='Address')
                br
                input#inputWebsite(type='text', placeholder='Website')
                br
                button#btnEditChickenSpot UPDATE THAT CHICKEN SPOT BRO
                button#btnCancelEdit Cancel Edit
        // /EDIT FRIED CHICKEN SPOT



    // /WRAPPER